/* Title.module.css */

.container {
  width: 100%;
}

.header {
  display: flex;
  gap: 20px;
  align-items: center;
  padding: 15px;
  background-color: #ffffff;
  font-family: 'Montserrat', sans-serif;
}

.header .left {
  display: flex;
  gap: 12px;
  align-items: center;
}

.header .left .image {
  height: 60px; /* Increased size from 45px */
  width: 60px; /* Increased size from 45px */
  border-radius: 50%;
}

.header .left .image img {
  height: 100%;
  width: 100%;
  object-fit: cover;
}

.header .left p {
  font-size: 24px; /* Adjusted font size for better balance */
  font-weight: 600;
  color: #046cf1;
  letter-spacing: 1px;
}
